.gallery {
    display: flex;
    gap: 24px;
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
}

.gallery-item {
    width: 358px;
    border: 1px solid #808080;
}

.gallery-img {
    object-fit: cover;
}

.image-info {
    display: flex;
    padding: 4px 20px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.image-item {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.image-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
}

.loader {
    display: block;
    position: relative;
    height: 24px;
    width: 200px;
    background: #ffc0cb;
    border: 2px solid #fff;
    color: red;
    overflow: hidden;
    margin: 0 auto;
}

.loader::before {
    content: '';
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    animation: loading 10s linear infinite;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
    animation: percentage 10s linear infinite;
}

@keyframes loading {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes percentage {
    0% {
        content: "0%"
    }

    5% {
        content: "5%"
    }

    10% {
        content: "10%"
    }

    20% {
        content: "20%"
    }

    30% {
        content: "30%"
    }

    40% {
        content: "40%"
    }

    50% {
        content: "50%"
    }

    60% {
        content: "60%"
    }

    70% {
        content: "70%"
    }

    80% {
        content: "80%"
    }

    90% {
        content: "90%"
    }

    95% {
        content: "95%"
    }

    96% {
        content: "96%"
    }

    97% {
        content: "97%"
    }

    98% {
        content: "98%"
    }

    99% {
        content: "99%"
    }

    100% {
        content: "100%"
    }
}

.hidden {
    display: none;
}